<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome Ironhacker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/burger.css" />
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100&display=swap" rel="stylesheet">
  </head>

 
<body>
    <header>
    
        <nav>
            <label for="nav-toggle">&#9776;</label>
            <input type="checkbox" id="nav-toggle" />
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/About">Sobre su vida</a></li>
                <li><a href="/PhotoGallery">Fotos</a></li>
                <li><a href="/Works">Carrera</a></li>
            </ul>
          </nav>
    </header>

    <h1>VIDA</h1>
   
    <p>Nació el 18 de diciembre de 1963 en Shawnee, Oklahoma (Estados Unidos).

        Biografía
        
        Mide 1’80.
        William Bradley Pitt nació en el seno de una familia de clase media.
        Su madre Jane era consejera de un instituto y su padre Bill gerente de una empresa de transporte.
        Tiene dos hermanos menores, Julie (nacida en 1969) y Doug (nacido en 1966).
        Este último es propietario de una compañía informática.
        
        Brad Pitt nació en Shawney, Oklahoma, pero creció en Springfield, Missouri, lugar donde su padre poseía su negocio.
        Tras acabar su instrucción secundaria en el Kickapoo High School de Springfield, Brad comenzó a estudiar Periodismo en la Universidad de Missouri.
       
        Pronto dejó plantada la carrera para trasladarse a California con la intención de trabajar en la industria cinematográfica.

        Antes de lograr su sueño se ocupó en una empresa de frigoríficos, e incluso llegó a formar parte del personal de una tienda de comida de pollo llamada “El Pollo Loco”.


    </p>
    <img class="foto-portada" src="/images/cuadro.jpg" /> 
</body>
</html>