<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome Ironhacker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/burger.css" />
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100&display=swap" rel="stylesheet">
  </head>



  <body>
    <header>
        <nav>
            <label for="nav-toggle">&#9776;</label>
            <input type="checkbox" id="nav-toggle" />
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/About">Sobre su vida</a></li>
                <li><a href="/PhotoGallery">Fotos</a></li>
                <li><a href="/Works">Carrera</a></li>
            </ul>
          </nav>
      </header>
   <div class="images">
    <img src="/images/4012b919bc143843469a81c363203826.jpg" />
    <img src="/images/brad-pitt-motorcycle-standing.jpg" />
    <img src="/images/1.jpg" />
    <img src="/images/2.jpeg" />
    <img src="/images/Brad-Pitt-amante-Harley-Davidson_TINIMA20140625_0201_1.jpg" />
    <img src="/images/brad-pitt.jpeg"/>
    
   </div>
    </body>
    </html>
    