<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome Ironhacker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/burger.css" />
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100&display=swap" rel="stylesheet">
  </head>



  <body>
    <header>
        <nav>
            <label for="nav-toggle">&#9776;</label>
            <input type="checkbox" id="nav-toggle" />
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/About">Sobre su vida</a></li>
                <li><a href="/PhotoGallery">Fotos</a></li>
                <li><a href="/Works">Carrera</a></li>
            </ul>
          </nav>
      </header>
    <h1>Carrera</h1>
    <p>
        En el cine, y tras aparecer en series de televisión como “Los Problemas Crecen” (1987-1989) o “Dallas” (1987-1988), Brad debutó en el año 1987 interviniendo sin acreditar en “Golpe Al Sueño Americano” (1987).
        Su película revelación fue “Thelma y Louise” (1991), road movie dirigida por Ridley Scott y protagonizada por Susan Sarandon y Geena Davis.
        
        Con posterioridad protagonizó títulos como “El Río De La Vida” (1992) de Robert Redford, “Leyendas De Pasión” (1994) de Edward Zwick, película por la que fue nominado al Globo de Oro, “Seven” (1995) thriller de David Fincher en el que, interpretando al policía David Mills, compartió protagonismo con Morgan Freeman y Kevin Spacey, o “Doce Monos” (1995), film realizado por Terry Gilliam y co-protagonizado por Bruce Willis y Madeleine Stowe por el que ganó el Globo de Oro.
        Por esta película, Pitt también recibió su única nominación a los premios Oscar, siendo candidato a la estatuilla en la categoría de mejor actor secundario.
        
        Brad tiene prohibida su entrada en China por protagonizar “Siete Años En El Tibet” (1997), film dirigido por Jean-Jacques Annaud que no gustó demasiado a las autoridades del país asiático.
        El mismo año interpretó a un terrorista del IRA en “La Sombra Del Diablo” (1997), film co-protagonizado por Harrison Ford.
        Otras películas destacadas de su filmografía son “El Club De La Lucha” (1999), film de David Fincher basado en una novela de Chuck Palahniuk, “Snatch – Cerdos y Diamantes” (2000) de Guy Ritchie, “Ocean’s Eleven” (2001) de Steven Soderbergh, o el peplum “Troya” (2004), una superproducción rodada por Wolfgang Petersen en la que Brad Pitt encarnaba al héroe Aquiles.
        
        Otros títulos de su filmografía son “Babel” (2006), drama co-protagonizado por Cate Blanchett y dirigido por Alejandro González Iñárritu; o “Ocean’s Thirteen” (2003), tercera entrega de esta serie de títulos de comedia de robos dirigida por Steven Soderbergh.
        
        Ha interpretado a Jesse James en “El Asesinato De Jesse James Por El Cobarde Robert Ford” (2007).
        El famoso forajido del Oeste estadounidense ya fue encarnado antes en el cine por, entre otros como Audie Murphy o Clayton Moore, Tyrone Power, con John Carradine como Bob Ford.
        
        En la comedia de los hermanos Coen “Quemar Después De Leer” (2008) es Chad Feldheimer, trabajador de un gimnasio que encuentra las memorias de un espía de la CIA.
        En “El Curioso Caso De Benjamin Button” (2008), película inspirada en un cuento de F. Scott Fitzgerald, interpretó a un hombre que nacía viejo y perdía años cuando avanzaba el tiempo.
        
        En “Malditos Bastardos” (2009), película de Quentin Tarantino ambientada en la Segunda Guerra Mundial, era el teniente Aldo Raine.
        En el drama “El Árbol De La Vida” (2011) era dirigido por Terrence Malick.
        En “Moneyball” (2011) interpretó al dirigente de béisbol Billy Beane.
        
        Fue el protagonista y productor de “Guerra Mundial Z” (2013), adaptación de una novela apocalíptica escrita por Max Brooks.
        Interpretó a un soldado estadounidense en “Corazones De Acero” (2014), película ambientada en la Segunda Guerra Mundial.
        Un año después produjo y participó como actor en “La Gran Apuesta” (2015), drama sobre la crisis financiera y la burbuja inmobiliaria; y co-protagonizó junto a Angelina Jolie “Frente Al Mar” (2015), drama matrimonial ambientado en un pueblo francés durante los años 70 que dirigió la propia Jolie.
        
        En el año 2016 estrenó como productor “The OA” (2016-2019), teleserie de fantasía y misterio con el protagonismo de Brit Marling.
        
        En el año 2019 estrenó “Érase Una Vez En… Hollywood” (2019), película en la que volvió a ser dirigido por Quentin Tarantino.
        En este film, ambientado en el Hollywood de 1969, Brad era el doble de un actor interpretado por Leonardo DiCaprio.
        Por su interpretación fue galardonado con el Premio Oscar y el Globo de Oro al mejor actor secundario del año.
        El mismo año se convirtió en un astronauta en busca de su padre desaparecido en “Ad Astra” (2019).
        
        Entre sus parejas sentimentales se encuentran las intérpretes Jill Schoelen, Robin Givens, Juliette Lewis y Gwyneth Paltrow.
        En verano del año 2000 contrajo matrimonio con la actriz Jennifer Aniston (nacida en 1969), conocida por su protagonismo en la teleserie “Friends”.
        La pareja se separó en enero del año 2005.
        Poco después, Brad comenzó una relación con Angelina Jolie (nacida en 1975), su compañera de reparto en la película “Sr. y Sra. Smith” (2005) con la que ha tenido una hija biológica, Shiloh Nouvel, y tres adoptados, uno procedente de Camboya, Maddox Chivan, otro del Vietnam, Pax Thien, y una tercera de Etiopía, Zahara Marley.
        Brad y Angelina se casaron en el año 2014.
        Dos años después iniciaron los trámites del divorcio después de que Jolie sospechase una infidelidad de Brad con la actriz francesa Marion Cotillard, su compañera de reparto en el film “Aliados” (2016), película ambientada en tiempos de la Segunda Guerra Mundial.
        En el 2018 se le rumoreó una relación con Kate Hudson y, más tarde, una posible vuelta con Jennifer Aniston y un noviazgo con Charlize Theron (nacida en 1975), ninguno confirmado.</p>
  </body>
</html>

